<div class="row footer">
  <div class="col-md-2"></div>
    <div class="col-md-8" style="padding-top:20px;">
            <p class="footer_text" style="text-align: center;">© Copyright 2020 
                    <!-- - <a href="tangensystech.com" target ="_blank" style="color:white;">TanGensys Technologies Private Limited</a> -->
                </p>
    </div>
    <div class="col-md-2" style="padding-top:20px;">
            <!-- <p class="footer_text"><span class="glyphicon glyphicon-earphone"></span> +91 9845792341</p> -->
            <!-- <p class="footer_text"><span class="glyphicon glyphicon-envelope"></span> info@tangensystech.com</p> -->
    </div>
</div>
