<nav class="navbar navbar-expand-md bg-light navbar-light topnav">
    <a href="#"><img class="logoimg" src="assets/logo.png" height="90" width="90"></a>
    <a class="navbar-brand" [routerLink]="['/login']"><h2 class="logotxt"><b>Hyperledger Fabric</b></h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div *ngIf="orgname=='Buyer'">This will be added to DOM by ngIf</div> -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar" >
          <ul class="navbar-nav"> 
            <!-- <div *ngIf="orgname=='Buyer'"> -->
                <li class="nav-item" *ngIf="orgname=='Buyer'">
                  <a class="nav-link" [routerLink]="['/order']">Create Order</a>
                </li>
                <li class="nav-item" *ngIf="orgname=='Buyer'">
                  <a class="nav-link" [routerLink]="['/vieworder']" >View Order</a>
                </li>
                <li class="nav-item" *ngIf="orgname=='Buyer'">
                  <a class="nav-link" [routerLink]="['/viewinvoice']">View Invoice</a>
                </li>
                <li class="nav-item" *ngIf="orgname=='Buyer'">
                  <a class="nav-link" [routerLink]="['/updateinvoice']">Update Invoice</a>
                </li>
              <!-- </div> -->
              <!-- <div *ngIf="orgname=='Seller'"> -->
                <li class="nav-item" *ngIf="orgname=='Seller'">
                  <a class="nav-link" [routerLink]="['/invoice']">Create Invoice</a>
                </li>
                <li class="nav-item" *ngIf="orgname=='Seller'">
                  <a class="nav-link" [routerLink]="['/viewinvoice']">View Invoice</a>
                </li>
                <li class="nav-item" *ngIf="orgname=='Seller'">
                  <a class="nav-link" [routerLink]="['/vieworder']">View Order</a>
                </li>
                <li class="nav-item" *ngIf="orgname=='Seller'">
                  <a class="nav-link" [routerLink]="['/updateorder']">Update Order</a>
                </li>
              <!-- </div> -->

              </ul>
              <ul class="navbar-nav ml-auto">
                <button type="submit" class="subbut2 btn btn-danger" (click)="onLogout()">Logout</button>
              </ul>
                <!-- <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/invoice']" >Invoice</a>
                </li> -->
          </div>

</nav>