<app-header></app-header>
<body class="body">
<br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h1 class="allhead">Generate Order</h1>
    </div>
    <div class="col-md-7" style="margin-top:10px;">
      <hr>
    </div>             
    <div class="col-md-1"></div>
  </div><br><br>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form>
        <div class="form-group">
            <label>Order ID</label>
            <input type="text" class="form-control" id="orderid" placeholder="Enter Order ID" name="orderid" minlength="1" maxlength="15" required style="width:400px;height:40px;">
        </div>
        <div class="form-group">
          <label>Product ID</label>
            <input type="text" class="form-control" id="prdit" placeholder="Enter Product ID" name="prdit" minlength="1" maxlength="15" required style="width:400px;height:40px;">
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" id="qty" placeholder="Enter Quantity" name="qty" minlength="1" maxlength="15" required style="width:400px;height:40px;">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" id="price" placeholder="Enter Price" name="qty" minlength="1" maxlength="15" required style="width:400px;height:40px;">
        </div>
        <div class="form-group ">
          <label>Order Date</label>
            <input type="date" class="form-control" id="example-date-input" name="startdate" style="width:400px;height:40px;">
        </div>
        <div class="form-group ">
            <label>Expected Date</label>
              <input type="date" class="form-control" id="example-date-input" name="expdate" style="width:400px;height:40px;">
          </div>
          <div class="form-group ">
              <label>Completion Date</label>
                <input type="date" class="form-control" id="example-date-input" name="compdate" style="width:400px;height:40px;">
            </div>
            <div class="form-group">
                <label>Status</label>
               <ng-select class="form-control"
               allowClear="true"
               [items]="myOptions"
               (data)="refreshValue($event)"
               style="width: 400px;height:40px;">
               </ng-select>
              </div>

              <div class="form-group">
                  <label>Invoice Number</label>
                  <input type="text" class="form-control" id="qty" placeholder="Enter Invoice Number" name="qty" minlength="1" maxlength="15" required style="width:400px;height:40px;">
              </div>
              <div class="row">
                <div class="col-md-6">
              <button type="submit" class="subbut2">Submit</button> <br><br>
            </div>
            <div class="col-md-6">
              <button type="reset" class="subbut2">Reset</button> <br><br>
            </div>
            </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</body>
<app-footer></app-footer>
