<app-header></app-header>
<body class="body">
  <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h1 class="allhead">View Invoice</h1>
      </div>
      <div class="col-md-7" style="margin-top:10px;">
        <hr>
      </div>             
      <div class="col-md-1"></div>
    </div><br><br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form novalidate #f="ngForm" (ngSubmit)="invoiceDetails(); f.reset()">
          <div class="form-group">
            <label>Invoice ID</label>
            <input type="text" class="form-control" id="invoiceid" placeholder="Enter Invoice ID" name="invoiceid" [(ngModel)]="invoiceid" minlength="1" maxlength="15" required style="width:400px;height:40px;">
          </div>
          <div class="row">
            <div class="col-md-6">
          <button type="submit" class="subbut2">Submit</button> <br><br>
        </div>
        <div class="col-md-6">
          <button type="reset" class="subbut2">Reset</button> <br><br>
        </div>
        
        </div>
  </form>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Invoice ID</td>
          <td>Quantity</td>
          <td>Product ID</td>
          <td>Invoice Date</td>
          <td>Completion Date</td>
          <td>Total Amount</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{this.data.invoice_id}}</td>
          <td>{{this.data.qty}}</td>
          <td>{{this.data.prod_id}}</td>
          <td>{{this.data.issueDate | date: 'yyyy-MM-dd'}}</td>
          <td>{{this.data.completionDate | date: 'yyyy-MM-dd'}}</td>
          <td>{{this.data.totalAmount}}</td>
          <td>{{this.data.status}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <p>Order ID: {{this.data.order_id}}</p>
    <p>Quantity:{{this.data.qty}}</p>
    <p>Product ID: {{this.data.prod_id}}</p>
    <p>Order Date: {{this.data.order_date}}</p> -->
  </div>
</div>
<div class="col-md-3"></div>
</div>
<br><br>
</body>
<br><br><br>
<app-footer></app-footer>