<nav class="navbar navbar-expand-md bg-light navbar-light topnav">
  <a href="#"><img class="logoimg" src="assets/logo.png" height="90" width="90"></a>
  <a class="navbar-brand" [routerLink]="['/login']"><h2 class="logotxt"><b>Hyperledger Fabric</b></h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/signup']" >Signup</a>
              </li> 
        </ul>
        </div>
</nav>
<body class="body">
  <br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <h1 class="allhead">Login</h1>
        <!-- <span *ngIf="this.infoMessage.length > 0">{{ this.infoMessage }}</span> -->
      </div>
      <div class="col-md-7" style="margin-top:10px;">
        <hr>
      </div>             
      <div class="col-md-1"></div>
    </div><br><br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form novalidate #f="ngForm" (ngSubmit)="onLogin(); f.reset()">
          <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" [(ngModel)]="user.username" #username="ngModel" minlength="1" maxlength="15" required style="width:400px;height:40px;">
          </div>
          <div class="form-group">
            <label>OrgName</label>
              <input type="text" class="form-control" id="orgname" placeholder="Enter OrgName" name="orgName" [(ngModel)]="user.orgName" #orgName="ngModel" minlength="1" maxlength="15" required style="width:400px;height:40px;">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" id="pswd" placeholder="Enter Password" name="password" [(ngModel)]="user.password" #password="ngModel" minlength="1" maxlength="15" required style="width:400px;height:40px;">
          </div>
          <div class="row">
            <div class="col-md-6">
          <button type="submit" class="subbut2">Submit</button> <br><br>
        </div>
        <div class="col-md-6">
          <button type="reset" class="subbut2">Reset</button> <br><br>
        </div>
        </div>
  </form>
</div>
<div class="col-md-3"></div>
</div>
<br><br>
</body>
<app-footer></app-footer>